<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">What</a></li>
  <li class="{% if page.url contains '/why/' %} active {% endif %}"><a href="{{ "/why/" | absolute_url }}">Why</a></li>
  <li class="{% if page.url contains '/more/' %} active {% endif %}"><a href="{{ "/more/" | absolute_url }}">More</a></li>
  <li class="{% if page.url contains '//' %} active {% endif %}"><a href="{{ "/join/" | absolute_url }}">Join</a></li>
</ul>

<ul class="icons">
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
</ul>
