
 
<form action="" method="" class="alt">
    <div class="row uniform">
        <div class="6u 12u$(xsmall)">
            <input type="text" name="sign-name" id="sign-name" value="" placeholder="Name">
        </div>
        <div class="6u$ 12u$(xsmall)">
            <input type="email" name="sign-email" id="sign-email" value="" placeholder="Email">
        </div>
        <div class="12u$">
            <input type="text" name="sign-position" id="sign-position" value="" placeholder="Position (e.g
. UCSB Class ‘22)">
        </div>
        <div class="12u$">
			<button id="submitPetition" class="special right fit"> Sign the Harris Ranch Petition </button>
        </div>
    </div>
</form>

<script type="text/javascript">
	function submitGoogleForm(formlink) {
			    const formData = new FormData(document.querySelector('form'));
			    console.log(formlink);
			    for (var pair of formData.entries()) {
					formlink = formlink.replace(pair[0], pair[1]);
				}
			    window.open(formlink);
		}

	function submitPetition() {
			submitGoogleForm('https://docs.google.com/forms/d/e/1FAIpQLSek03O_bcFVRnrVMKn3Gh2w4wATT00hVbGK9-lC6UJoLGjzhw/formResponse?usp=pp_url&entry.1057246925=sign-name&entry.508915385=sign-email&entry.1067060096=sign-position&submit=Submit');
	}
	document.getElementById("submitPetition").addEventListener("click", submitPetition, false)
</script>
